<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/school" *ngIf="isAdmin">Schools</a>
    <a class="nav-item nav-link" routerLink="/registration" *ngIf="isAdmin">Registration</a>
    <a class="nav-item nav-link" routerLink="/grades">Grades</a>
    <a class="nav-item nav-link" routerLink="/users" *ngIf="isAdmin">Users</a>
    <a class="nav-item nav-link" routerLink="/statistics" *ngIf="isAdmin">Statistics</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
